.faq-container {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.faq-title {
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-size: 3rem;
    font-weight: 600;
}

.faq {
    margin: 0 auto;
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
}

.faq-item {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.faq-question, .faq-answer {
    font-family: Montserrat, sans-serif;
}

.faq-question {
    font-size: 1.5rem;
    line-height: 1.75rem;
    font-weight: 900;
    color: var(--primary);
}

.faq-answer {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 400;
    color: white;
    text-align: start;
}

@media only screen and (max-width: 1200px) {
    .faq {
        width: 80%;
        grid-template-columns: 1fr;
        gap: 2.5rem;
    }
}