.countdown-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: fit-content;
  gap: 2rem;
}

.countdown-container h1 {
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-weight: 900;
  font-size: 3rem;
}

.countdown {
  display: flex;
  flex-direction: row;
  gap: 1%;
  justify-content: center;
}

.box-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  width: 25%;
  aspect-ratio: 1/1.2;
}

.box-container h2 {
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 1.25rem;
  color: white;
}

.box {
  width: 100%;
  aspect-ratio: 1/1;
  background: linear-gradient(0deg, var(--primary) 50%, var(--primary_alt) 50%);
  border-radius: 3px;
  display: flex;
}

.box h1 {
  text-align: center;
  margin: auto;
  font-family: Montserrat, sans-serif;
  font-weight: 900;
  font-size: 5rem;
}

@media only screen and (max-width: 1200px) {
  .countdown-container h1 {
    font-size: 1.5rem;
  }

  .box h1 {
    font-size: 3rem;
  }

  .box-container h2 {
    font-size: 0.75rem;
  }
}