.brief-container {
    width: 100%;
    display: grid;
    grid-template-columns: 15% 25% 60%;
    grid-template-areas: ". text photo";
}

.brief-text {
    grid-area: text;
    margin: auto 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.ctatitle, .ctasubtitle, .ctabrief, .ctabutton {
    font-family: "Montserrat", sans-serif;
    width: 100%;
    text-align: left;
}

.ctatitle {
    color: white;
    font-weight: 600;
    font-size: 3rem;
}

.ctasubtitle {
    color: var(--primary);
    font-weight: 900;
    font-size: 2rem;
}

.ctabrief {
    color: white;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.brief-button-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1.5rem;
}

.brief-image-container {
    grid-area: photo;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.brief-image {
    width: 80%;
}

.brief-button-container .btn  {
    box-sizing: border-box;
    font-size: 1.25rem !important;
}

@media only screen and (max-width: 1200px) {
    .brief-container {
        margin: 0 auto;
        width: 80%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "text";
    }

    .brief-text {
        gap: 1.5rem;
    }

    .ctatitle {
        text-align: center;
    }

    .ctasubtitle {
        font-size: 1.5rem;
        line-height: 1.75rem;
    }

    .brief-button-container {
        flex-direction: row;
        gap: 2rem;
        justify-content: flex-start;
    }

    .brief-image-container {
        display: none;
    }
}

@media only screen and (max-width: 968px) {
    .brief-button-container {
        flex-direction: column;
        gap: 1rem;
        align-items: center;
    }

    .brief-button-container .btn{
        width: 100%;
        text-align: center;
    }
}

@media only screen and (min-width: 1920px) {
    .brief-button-container {
        flex-direction: row;
        gap: 1rem;
        align-items: center;
    }

    .brief-button-container .btn {
        width: 100%;
        text-align: center;
    }
}
