.brief-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 5em 0;
    gap: 1rem;
}

.brief-text {
    margin: auto 0;
    width: 25%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.ctatitle, .ctasubtitle, .ctabrief, .ctabutton {
    font-family: "Montserrat", sans-serif;
    width: 100%;
    text-align: left;
}

.ctatitle {
    color: white;
    font-weight: 600;
    font-size: 3em;
}

.ctasubtitle {
    color: var(--primary);
    font-weight: 900;
    font-size: 2em;
}

.ctabrief {
    color: white;
    font-weight: 400;
    font-size: 1.1em;
    line-height: 1.5em;
}

.brief-image-container {
    width: 60%;
    display: flex;
    justify-content: flex-end;
}

.brief-image {
    width: 80%;
}
