.particle-container {
    position: absolute;
    top: 0;
    bottom: 5px;
    left: 0;
    right: 0;
    z-index: -1;
}

.particle-container > div {
    position: relative;
    width: 100%;
    height: 100%;
}