.recentnews-container {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.recentnews-title {
  width: fit-content;
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-size: 3em;
  font-weight: 600;
}

.recentnews {
  margin: 2em auto;
  width: 70%;
  display: grid;
  gap: 5%;
  grid-template-columns: repeat(3, 1fr);
}

.recentnews-container .btn {
  font-size: 1.25rem !important;
}

@media only screen and (max-width: 1200px) {
  .recentnews {
    width: 80%;
  }
}

@media only screen and (max-width: 968px) {
  .recentnews {
    display: flex;
    width: 100vw;
    overflow-x: scroll;
    margin-left: 50vw;
    transform: translateX(-50vw);
    scroll-snap-type: x mandatory;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .recentnews::-webkit-scrollbar{
    display: none;
  }

  .recentnews .recentnews__post {
    margin-right: 20vw;
  }

  .recentnews .recentnews__post:first-child {
    padding-left: calc(50vw - (80vw / 2));
  }

}