.header {
    transition: all 0.4s;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--main);
    z-index: 15;
}

.show {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

.hide {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
}

.header-item-container {
    padding: 1.5rem 5%;
    display: grid;
    grid-template-columns: 20rem 8rem 1fr;
    grid-template-areas: "logo socials nav";
    overflow: hidden;
}

.header-logo {
    grid-area: logo;
    margin: auto 1rem;
    text-align: end;
    font-size: 1.2rem;
}

.header-socials {
    grid-area: socials;
    gap: 1rem;
    margin: auto 0;
    overflow: hidden;
}

.social {
    height: 2rem;
}

.social svg {
    height: 1.8rem;
    width: auto;
}

.social path {
    fill: var(--primary);
}

.social circle {
    fill: var(--primary);
}

.header-nav-container {
    grid-area: nav;
    overflow: hidden;
}

.header-nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-size: 1.2rem;
    font-weight: 600;
}

.link-container {
    margin: auto 0;
    display: flex;
    justify-content: center;
    align-content: center;
}

.link-container:not(:last-child) {
    width: 10rem;
}

.link-container:last-child {
    width: 20rem;
}

.link {
    transition: color 0.25s;
    padding: 0.5rem;
    color: white;
    border: 2px solid transparent;
}

.link:hover {
    color: var(--secondary)
}

.active-link {
    border-bottom: 2px solid var(--secondary);
}

.btn {
    padding: 1rem 4rem !important;
}

.menu-icon {
    display: none !important;
}

@media only screen and (max-width: 1200px) {
    .header {
        background-color: transparent;
    }

    .header-item-container {
        transition: 0.5s;
        grid-template-columns: 1fr;
        grid-template-rows: max-content;
        grid-template-areas: 
            "logo"
            "nav"
            "socials";
        gap: 1rem;
    }

    .collapsed {
        grid-template-rows: min-content 0 0;
        gap: 0;
        background-color: transparent;
    }

    .expanded {
        grid-template-rows: max-content;
        background-color: var(--primary_transparent);
    }

    .menu-icon {
        display: block !important;
    }

    .header-logo {
        text-align: center;
        font-size: 1rem;
    }

    .header-socials {
        margin: 0 auto;
    }

    .link {
        padding: 0.1rem;
    }

    .header-nav {
        margin: 1rem 0;
        gap: 0.5rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}