.header {
    position: fixed;
    width: 90vw;
    height: 7vh;
    padding: 0 5vw;
    margin: 0;
    background-color: var(--dark);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    z-index: 10;
}

.header > * {
    flex: 0 0 50%;
    flex-direction: row;
}

.headerLogo {
    width: fit-content;
    height: fit-content;
    margin: auto 1.5em;
}

.headerLogo h1 {
    font-family: Montserrat, sans-serif;
    font-size: 1em;
    font-weight: 600;
}

.headerSocials {
    width: fit-content;
    height: fit-content;
    gap: 1em;
    margin: auto 0;
}

.social {
    height: 1.5em;
}

.social svg {
    height: 1.5em;
    width: auto;
}

.headerNavigationContainer {
    width: 80%;
    flex-direction: row;
    margin: auto 0;
    margin-left: auto;
}

.navBar {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    font-size: 1em;
}

.navBar a {
    text-decoration: none;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    margin: auto;
    font-size: 0.5em;
    border: 3px solid transparent;
    color: white;
}

.navBar a:hover {
    color: var(--orange-accent)
}

.active-link {
    border-bottom: 3px solid var(--orange-accent) !important;
}

.contact {
    padding: 0.75em 4em;
    border-radius: 2em;
    color: var(--dark) !important;
    background-color: var(--orange-accent);
}

.contact:hover {
    color: white !important;
}

