.recentnews__post {
  margin: 0 auto;
  opacity: 0.5;
  width: 100%;
  height: fit-content;
  text-decoration: none;
  transition: 0.4s;

}

.recentnews__post:hover {
  transform: scale(1.15);
  opacity: 1;
}

.recentnews__post-content {
  height: 100%;
  width: 100%;
  padding: 1.5em;
  box-sizing: border-box;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.recentnews__post-image {
  width: 100%;
  aspect-ratio: 2/1;
  object-fit: cover;
}

.recentnews__post-title {
  font-family: Monetserrat, sans-serif;
  font-weight: 600;
  color: var(--main);
  font-size: 1.75rem;
  line-height: 2rem;
  height: 4rem;
  max-height: 4rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.recentnews__post-blurb {
  font-family: Monetserrat, sans-serif;
  font-weight: 500;
  color: var(--main);
  font-size: 1.25rem;
  line-height: 1.5rem;
  height: 7.5rem;
  max-height: 7.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media only screen and (max-width: 968px) {
  .recentnews__post {
    opacity: 1;
    scroll-snap-align: center;
    flex: 0 0 80vw;
    width: 80vw;
    box-sizing: content-box;
    display: flex;
  }
  .recentnews__post:hover {
      transform: none;
  }

  .recentnews__post-content {
    padding: 0;
    gap: 2rem;
    border-radius: 20px;
    background-color: hsla(0, 0%, 100%, 0.1);
  }

  .recentnews__post-title {
    color: white;
    text-align: center;
  }

  .recentnews__post-blurb {
    color: white;
    text-align: center;
  }

  .recentnews__post-image {
    border-radius: 20px;
  }
}