.parallax-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: fit-content;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--parallax_sixth);
}

.text-container {
    position: absolute;
    top: 35%;
}

.text-container > h1, h2 {
    position: relative;
    z-index: 14;
    text-align: center;
    color: var(--main);
}

.title {
    font-size: 3.5em;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-style: italic;
}

.subtitle {
    font-size: 1.25em;   
    font-family: "Source Sans 3", sans-serif;
    font-weight: 600;   
}

.parallax-wrapper .parallax-layer {
    position: absolute;
}

.parallax-wrapper .parallax-layer:nth-child(1) {
    left: 0;
    right: 0;
    z-index: 8;
    top: 2px;
}
.parallax-wrapper .parallax-layer:nth-child(2) {
    width: 102.5%;
    z-index: 7;
    top: 0;
}
.parallax-wrapper .parallax-layer:nth-child(3) {
    left: 0;
    right: 0;
    z-index: 6;
    top: 0;
}
.parallax-wrapper .parallax-layer:nth-child(4) {
    left: 0;
    right: 0;
    z-index: 5;
    top: 60%;
}

#ts-white-bubbles {
    position: relative;
    width: 100%;
    height: 60%;
    z-index: 3;
}