.homeContainer {
    min-height: 100%;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ctaContainer {
    width: 70%;
}

.flex {
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    align-content: center;
    justify-content: center;
    margin-top: 1em;
}

.homeContainer h1 {
    text-align: center;
}