:root {
  --dark-blue: rgba(78, 93, 161, 0.9);
  --dark-blue-transparent: rgba(78, 93, 161, 0.6);
  --light-blue: rgba(128, 180, 234, 0.9);
  --light-blue-transparent: rgba(128, 180, 234, 0.6);
  --dark-red: rgba(185, 42, 85, 0.9);
  --dark-red-transparent: rgba(185, 42, 85, 0.6);
  --light-red: rgba(235, 87, 131, 0.9);
  --light-red-transparent: rgba(235, 87, 131, 0.6);
}

body {
  margin: 0;
  padding:  0;
}

h1 {
  font-family: 'Chawp';
}

p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@font-face {
  font-family: 'Chawp';
  src: local('Chawp'), url(../public/assets/fonts/chawp/chawp.ttf) format('truetype');
}
