:root {
  --orange-accent: rgba(239, 109, 37, 1);
  --orange-particles: rgba(224, 119, 32, 1);
  --yellow-particles: rgba(221, 176, 34, 1);
  --white-particles: rgba(255, 255, 255, 1);
  --light-blue: rgba(143, 191, 204, 1);
  --dark: rgba(10, 11, 13, 1);
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Source+Sans+3:ital,wght@0,400;1,900&display=swap');

body {
  margin: 0;
  padding:  0;
  min-height: 100vh;
  color: white;
  background-color: var(--dark);
  /* -ms-overflow-style: none; */  /* IE and Edge */
  /* scrollbar-width: none;  Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera
body::-webkit-scrollbar {
  display: none;
} */

#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  padding: 0;
  margin: 0;
}

div {
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

h1 {
  padding: 0;
  margin: 0;
}

h2 {
  padding: 0;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}

a {
  padding: 0;
  margin: 0;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}
